@import url("https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap");
body {
	font-size: 30px !important;
	font-family: "Loved by the King", cursive !important;
	background-color: #f38cab !important;
	color: #e14e7d !important;
	width: 100%;
}

/* .audio__player {
	width: 50%;
} */
.col-sm {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-top: 20px;
}
.heart {
	position: fixed;
	top: 1vh;
	font-size: 20px;
	animation: heartrain 2s linear forwards;
	transition: transform 3s;
}

@keyframes heartrain {
	to {
		transform: translateY(105vh);
	}
}

@media (min-width: 876px) {
	.card {
		width: 100% !important;
	}
}
element.style {
	width: 100% !important;
}
